h1 Sign Up

form.validate.form-group(id="form")
    div.input-group
        input.form-control(type="text", id="username", placeholder="Username", ng-model="username", required)
    div.input-group
        input.form-control(type="text", id="password", placeholder="Password", ng-model="password", required)
    div.input-group
        input.form-control(type="text", id="confirmPassword", placeholder="Confirm Password", ng-model="confirmPassword", required)
div
    button.btn.btn-default(ng-click='vm.signUp(username, password, confirmPassword)') Create User
a(ui-sref="home") Home